body{
    font-family: 'Roboto', sans-serif;
  
}

/*________________________________________TELA1________________________________________/*



/*________________________________________TELA2________________________________________*/
.corpo{
    display: flex;
    flex-direction:column;  

    
}
.cabecalhoSite{
    width: auto;
    height: 69px;
    background-color: #EC362D;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
font-weight: 700;
font-size: 37px;
color: #FFFFFF;
}

.cabecalhoQuizz{
    Width:auto;
    Height:227px;
    background-color: blue;
    object-fit: cover

}

.container{
    Width:100%;
    Height:100%;
    background-color:  #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    }
    .caixaPergunta{
        margin-top: 42px;
    Width:759px;
    Height:676px;
    background-color: green;
    }

    .cabecalhoPergunta{
        Width:100%;
        Height: 137.99px;
        background-color: #434CA0;
        display: flex;
        align-items: center;
        justify-content: center;

    }
    .tituloPergunta{
        font-size: 23px;
        font-weight: 700;
        color: #FFFFFF;
    }

    .caixarespostas{        
        display: grid;
        grid-template-columns: 330px 330px ;
        gap:25px;
        padding:10px 37px 35px 38px;

    }

    .imgResposta{
        margin-top: 20.16px;
        Width:329.91px;
        Height:175.2px;
    }

    .resultado{
        margin-top:44px ;
    Width:759px;
    Height:430px;
    background-color: aqua;
    

    }
    .cabecalhoResultado{
        margin-top: 18px;
        margin-left:16px ;
        Width: 727px;
        Height:99px;
        background-color: red;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .tituloResultado{
        font-Weight:700;
        font-Size:23px;
        color: #FFFFFF;
    }
    
    .img-texto-resultado{
        margin-top: 20px;
        margin-left: 18px ;
        Width: 727px;
        Height: 273px;
        display: flex;

    }

    .ResultadoFinalImagem{
        margin-right:21px ;
    }

    .ResultadoFinalTexto{
        font-weight:700;
        font-Size:19px;
        color: #484848;
    }

    .ReiniciarQuiz{
        Width:260.38px;
        Height:52px;
        margin-top: 57px;
        margin-bottom: 16px;
        border-radius: 15px;
        background-color: #EC362D;
        border: none;
    }
.dentrobotao{
Weight:400;
Size:21px;
color: #FFF5F4;
}

.VoltarHome{
Weight:400;
Size:21px;
color:#818181;
margin-bottom: 85px;
text-decoration: none;
}
    
    /*________________________________________TELA3________________________________________*/
